<?xml version="1.0"?>
<!-- Load $(find ee_cart_imped_control) gen3 parameters to the server 
     and then spawn the controller given by the newly uploaded parameter "gen3_cart_imped_controller" from that file -->
<launch>
  <!-- if load_only, then load the controller but don't start it -->
  <arg name="load_only" default="true"/>

  <arg unless="$(arg load_only)" name="spawner_stopped_arg" value=""/>
  <arg     if="$(arg load_only)" name="spawner_stopped_arg" value="--stopped"/>

  <rosparam file="$(find ee_cart_imped_control)/config/gen3_cart_imped_controller.yaml" command="load" />
  <node pkg="controller_manager" type="spawner" args="$(arg spawner_stopped_arg) gen3_cart_imped_controller" name="gen3_cart_imped_controller_spawner" output="screen"/>
</launch>
